/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 1%;
  background-color: #222;
  color: rgb(202, 201, 201);
  font-size: 1.2rem;
}

/* Themes */
#themeContainer {
  height: 20px;
  margin-bottom: 2%;
}
.themes {
  width: 20px;
  height: 20px;
  margin: 0 1%;
  float: right;
  cursor: pointer;
}
#dark {
  background-color: black;
}
#gray {
  background-color: gray;
}
#white {
  background-color: white;
}
#blue {
  background-color: blue;
}

/* MainConteneur */
#mainConteneur {
  display: flex;
}

/* Buttons */
#conteneurBtn {
  width: 15%;
  float: left;
}
#conteneurBtn > span {
  display: block;
  margin: 10%;
  margin-top: 25%;
  text-align: center;
}
#conteneurBtn .btn {
  display: flex;
  margin: 10% 20%;
  align-items: center;
  justify-content: center;
}
#conteneurBtn .btn button {
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
}
#conteneurBtn .btn button:hover {
  background-color: rgb(202, 201, 201);
}

/* Input */
#conteneurTxt {
  width: 60%;
  float: left;
}
#conteneurTxt > :nth-child(2) {
  margin: 2% 0;
}
#conteneurTxt p {
  display: inline-block;
  margin-left: 1%;
}
#conteneurTxt #match {
  float: right;
  margin-right: 12%;
}
#conteneurTxt .text > textarea {
  width: 90%;
  margin-top: 0.5%;
  padding: 0.5rem;
  background-color: #333;
  color: rgb(202, 201, 201);
  border-radius: 5px;
  resize: none;
}

/* Result */
#error {
  color: red;
  margin-top: 3%;
}
#resultList {
  margin-top: 10%;
  margin-left: 5.5%;
}

li {
  cursor: pointer;
  margin: 7% 0;
}
li:hover {
  font-weight: bold;
  color: white;
}
